<div>
	<div class="dictionary-live-search" ng-controller="SearchRequestCtrl">
		<form id="searchform" class="clearfix" ng-submit="search()">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" name="ipt-text" class="form-control" placeholder="Digite alguma palavra" autocomplete="off" ng-focus='onFocus()' ng-blur='onBlur()' ng-change="onChange()" ng-model="keyword">
			</div>
		</form>
		<div class="search-result ng-hide" ng-hide="hideSearchResult">
			<ul>
				<li class="search-result-item" ng-repeat="word in words" ng-click="onItemClick()">
					<a href="{% verbatim %}{{ word.relative_url }}{% endverbatim %}" class="search-item-word">
						<span>{% verbatim %}{{ word.word }}{% endverbatim %}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- End . dictionary-live-search-->

	<div class="dictionary-alphabetical-search">
		<div class="dictionary-alphabetical-search-wrap">
			<ul class="dictionary-alphabetical-search-list">
				<li><a href="{{ dictionary_url }}/a">A</a></li>
				<li><a href="{{ dictionary_url }}/b">B</a></li>
				<li><a href="{{ dictionary_url }}/c">C</a></li>
				<li><a href="{{ dictionary_url }}/d">D</a></li>
				<li><a href="{{ dictionary_url }}/e">E</a></li>
				<li><a href="{{ dictionary_url }}/f">F</a></li>
				<li><a href="{{ dictionary_url }}/g">G</a></li>
				<li><a href="{{ dictionary_url }}/h">H</a></li>
				<li><a href="{{ dictionary_url }}/i">I</a></li>
				<li><a href="{{ dictionary_url }}/j">J</a></li>
				<li><a href="{{ dictionary_url }}/k">K</a></li>
				<li><a href="{{ dictionary_url }}/l">L</a></li>
				<li><a href="{{ dictionary_url }}/m">M</a></li>
				<li><a href="{{ dictionary_url }}/n">N</a></li>
				<li><a href="{{ dictionary_url }}/o">O</a></li>
				<li><a href="{{ dictionary_url }}/p">P</a></li>
				<li><a href="{{ dictionary_url }}/q">Q</a></li>
				<li><a href="{{ dictionary_url }}/r">R</a></li>
				<li><a href="{{ dictionary_url }}/s">S</a></li>
				<li><a href="{{ dictionary_url }}/t">T</a></li>
				<li><a href="{{ dictionary_url }}/u">U</a></li>
				<li><a href="{{ dictionary_url }}/v">V</a></li>
				<li><a href="{{ dictionary_url }}/w">W</a></li>
				<li><a href="{{ dictionary_url }}/x">X</a></li>
				<li><a href="{{ dictionary_url }}/y">Y</a></li>
				<li><a href="{{ dictionary_url }}/z">Z</a></li>
			</ul>
		</div>
	</div>
	<!-- End .dictionary-alphabetical-search -->
</div>


<script>
	nirvarisControllers.controller('SearchRequestCtrl', ['$scope', '$http', function($scope, $http, $sce) {
		$scope.keyword = '';
		$scope.words = [];
		$scope.results = [];
		$scope.hideSearchResult = true;

		// only for debug
		//$scope.words = [{"word":"sample abacate", "relative_url":"abacate"}, {"word":"sample xaxin", "relative_url":"xaxin"}];
		//$scope.hideSearchResult = false;

		$scope.onFocus = function() {
			if ($scope.words.length > 0) {
				$scope.hideSearchResult = false;
			}
		}

		$scope.onBlur = function() {
			if (event.relatedTarget) {
				if (event.relatedTarget.className != 'search-item-word') {
					$scope.hideSearchResult = true;
				}
			} else {
				$scope.hideSearchResult = true;
			}
		}

		$scope.onItemClick = function() {
			console.log('te');
		}

		$scope.onChange = function() {
			$http.post('/search', $.param({
				search_input: $scope.keyword,
				csrfmiddlewaretoken: angular.element(document.getElementsByName('csrfmiddlewaretoken')[0]).val()
			}), {
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				}
			}).
			then(function(response) {
				$scope.words = response.data;
				$scope.hideSearchResult = ($scope.words.length == 0) ? true : false;
			}, function(response) {
				console.log("failed :(", response);
			});
		}

		/* on form submit
		$scope.search = function() {
			$http.post('/search', $.param({
				search_input: $scope.keyword,
				csrfmiddlewaretoken: angular.element(document.getElementsByName('csrfmiddlewaretoken')[0]).val()
			}), {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).
			then(function(response) {
				$scope.words = response.data;
				if ($scope.words.length > 0) {
					$scope.hideSearchResult = false;
				}
			}, function(response) {
				console.log("failed :(", response);
			});
		};*/

	}]);
</script>
