{% extends "theme-base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}sub-page{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<ul class="dictionary-word-list">
						{% for word_entry in word_entries %}
							<li>
								<a href="{{ word_entry.relative_url }}">
									<div class="word-thumb">
										<img class="word-thumb" src="{{ gallery_images }}{{ word_entry.thumb }}" height="90" width="90">
									</div>
									<div class="word-text">
										<h3>{{ word_entry.word }}</h3>
										<p>{{ word_entry.short_description }}</p>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
