{% extends "theme-base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load theme_image_gallery_tags %}

{% block content %}


	<div class="word-entry">
		<h1>{{ word_entry.word }}</h1>
		<p class="lead">{{ word_entry.short_description }}</p>
		{% if word_entry.audio_file %}
			<div class="word-entry-audio">{{ word_entry.audio_file }}</div>
		{% endif %}
		{% if word_entry.phonetics %}
			<div class="word-entry-audio">{{ word_entry.phonetics }}</div>
		{% endif %}
		<div class="row">

			<div class="col-md-6">

				<div class="word-entry-languages">
					<p>
						<b>{% trans 'Línguas:' %}</b>
						{% for language in word_entry.languages.all %}{% if not forloop.first %}, {% endif %}{{ language.name }}{% endfor %}
					</p>
				</div>

				{% if word_entry.word_classes.all %}
					<div class="word-entry-classes">
						<p>
							<b>{% trans 'Classes:' %}</b>
							{% for word_class in word_entry.word_classes.all %}{% if not forloop.first %}, {% endif %}{{ word_class.name }}{% endfor %}
						</p>
					</div>
				{% endif %}

				<div class="word-entry-tags">
					<p>
						<b>{% trans 'Tags:' %}</b>
						{% for tag in word_entry.tags.all %}{% if not forloop.first %}, {% endif %}<a href="{{ tag.display }}">{{ tag.display }}</a>{% endfor %}
					</p>
				</div>

				{% if word_entry.words_related.all %}
					<div class="word-entry-related">
						<p>
							<b>{% trans 'Palavras Relacionadas:' %}</b>
							{% for word_related in word_entry.words_related.all %}{% if not forloop.first %}, {% endif %}<a href="{{ word_related.relative_url }}">{{ word_related.word }}</a>{% endfor %}
						</p>
					</div>
				{% endif %}

				<div class="word-entry-content">
					{{ word_entry.word_content }}
				</div>

			</div>

			<div class="col-md-6">
				{% if word_entry.word_content.pictures.all %}
					{{ word_entry.word_content.pictures.all|horizontal_thumbs }}
				{% else %}
					<img src="{{ empty_image }}">
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
