{% extends "theme-base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{{ word_entry.title }}{% endblock %}

<p><b>PALAVRA</b></p>
<p>{{ word_entry.word }}</p>


<p><b>Descrição:</b></p>
<p>{{ word_entry.short_description }}</p>
<p>Audio: {{ word_entry.audio_file }}</p>
<p>Phonetics: {{ word_entry.phonetics }}</p>

<p><b>Linguagens</b></p>
{% for language in word_entry.languages.all %}
	 <p>{{ language.name }}</p>
{% endfor %}

					<div class="row">
						<div class="col-md-8">
							<p class="entry-"><strong>Também conhecido como: </strong></p>
							<p class="entry-languages"><strong>Língua de origem: </strong>
								{% for language in word_entry.languages.all %}
								<span>{{ language.name }}</span>
								{% endfor %}
							</p>
							<p class=""><strong>Nome científico: </strong>{{ word_entry.scientific_name }}</p>
							<p class="entry-meaning">{{ word_entry.meaning|safe }}</p>
							<p class="entry-curiosities">{{ word_entry.curiosities|safe }}</p>
						</div>
						<div class="col-md-4">
						</div>
					</div>
					
					<div class="entry-tags">
						<p>Tags: 
							{% for tag in word_entry.tags.all %}
								<span>{{ tag.name }}</span>
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<p><b>Classes</b></p>
{% for word_class in word_entry.word_classes.all %}
	 <p>{{ word_class.name }}</p>
{% endfor %}

<p><b>Tags</b></p>
{% for tag in word_entry.tags.all %}
	 <p>{{ tag.display }}</p>
{% endfor %}

<p><b>Palavras relacionadas</b></p>
{% for word_related in word_entry.words_related.all %}
	 <p><a href="{{ word_related.relative_url }}">{{ word_related.word }}</a></p>
{% endfor %}

<p><b>Conteúdo</b></p>
{{ word_entry.word_content }}
