{% extends "theme-base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_image_gallery_tags %}
{% load theme_messages_tags %}

{% block body_class %}sub-page{% endblock %}

{% block content %}


	<div class="word-entry">

		<div class="row">
			<div class="col-md-6">

				<h1>{{ word_entry.word }}</h1>

				<p class="lead">{{ word_entry.short_description|safe }}</p>

				<hr/>

				{% if word_entry.audio_file %}
					<div class="word-entry-audio">{{ word_entry.audio_file }}</div>
				{% endif %}

				{% if word_entry.phonetics %}
					<div class="word-entry-audio">{{ word_entry.phonetics }}</div>
				{% endif %}

				<div class="word-entry-languages">
					<p>
						<b>{% trans 'Línguas:' %}</b>
						{% for language in word_entry.languages.all %}{% if not forloop.first %}, {% endif %}{{ language.name }}{% endfor %}
					</p>
				</div>

				{% if word_entry.word_classes.all %}
					<div class="word-entry-classes">
						<p>
							<b>{% trans 'Classes:' %}</b>
							{% for word_class in word_entry.word_classes.all %}{% if not forloop.first %}, {% endif %}{{ word_class.name }}{% endfor %}
						</p>
					</div>
				{% endif %}

				<div class="word-entry-tags">
					<p>
						<b>{% trans 'Tags:' %}</b>
						{% for tag in word_entry.tags.all %}{% if not forloop.first %}, {% endif %}<a href="{{ tag.name }}">{{ tag.display }}</a>{% endfor %}
					</p>
				</div>

				{% if word_entry.words_related.all %}
					<div class="word-entry-related">
						<p>
							<b>{% trans 'Palavras Relacionadas:' %}</b>
							{% for word_related in word_entry.words_related.all %}{% if not forloop.first %}, {% endif %}<a href="{{ word_related.relative_url }}">{{ word_related.word }}</a>{% endfor %}
						</p>
					</div>
				{% endif %}

				<div class="word-entry-content">
					{{ word_entry.word_content|safe }}
				</div>

			</div>
			<div class="col-md-6">
				{% if word_entry.word_content.pictures.all %}
					{{ word_entry.word_content.pictures.all|vertical_thumbs }}
				{% else %}
					<img src="{{ empty_image }}">
				{% endif %}
			</div>
		</div>
	</div>

	<div class="comments">
		<h3>{% trans 'Comentários:' %}</h3>
		<div class="comment-form">
			<form ng-non-bindable method="POST" >{% csrf_token %}
				{{ messages|messages_style }}
				{{ comment_form|form_style }}
				<div class="form-group">
					<label></label>
					{# Translators: The save comment button on the word entry screen. #}
					<input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans 'Post Comment' %}">
				</div>
			</form>
		</div>
		<h4>{{word_entry.word_entry_comments.count}} {% trans 'Comments' %}</h4>
		<div class="comments-list">
			<ul>
			{% for comment in word_entry.word_entry_comments.all %}
				{% if comment.is_approved %}
					<li>
						<div class="comment-avatar">
							<img class="user-avatar" src="{% static 'image/no-avatar.png' %}" alt="Avatar">
						</div>
						<div class="comment-body">
							<p>
								<span class="comment-author">{{ comment }}</span>
								<span class="comment-date"><span class="comment-date-bullet">•</span>{{ comment.created }}</span>
							</p>
							<p class="comment-text">{{ comment.content }}</p>
						</div>
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	
	
	
{% endblock %}
