.dictionary-live-search .form-group {
	margin-bottom: 0;
}

.search-result {
	position: relative;
}
.search-result ul {
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
	border: 1px solid #ccc;
}
.search-result-item {
    margin: 0 auto;
    background: #fff;
}
.search-result-item a {
    background-position: 20px center;
    background-repeat: no-repeat;
    padding: 7px 14px 7px 14px;
    display: block;
    color: #595959;
	-webkit-transition: background 200ms linear;
}
.search-result-item a:hover {
	background: #f5f5f5;
}



.dictionary-alphabetical-search {
    margin: 15px 0 0 0;
}
.dictionary-alphabetical-search-list {
    list-style: none;
    padding: 0;
    display: block;
    overflow: hidden;
    margin: 0;
}
.dictionary-alphabetical-search-list li {
    float: left;
    margin-right: 4px;
}
.dictionary-alphabetical-search-list li:hover {
	background: #ccc;
}
.dictionary-alphabetical-search-list li a {
    width: 24px;
    display: block;
    text-align: center;
}
.dictionary-alphabetical-search-list li:hover a {
	color: #000;
}


.dictionary-word-list {
	list-style: none;
}
.dictionary-word-list li {
	display: block;
	overflow: hidden;
	padding: 20px 0;
    width: 45%;
    float: left;
	border-bottom: 1px solid #F3F3F4;
	transition: all 200ms;
	-webkit-transition: all 200ms;
}
.dictionary-word-list li:hover {
	background-color: #F7F7F7;
}
.dictionary-word-list li:nth-child(odd) {
    margin-right: 20px;
}
.dictionary-word-list .word-thumb {
	float: left;
	display: block;
	margin: 0 10px;
}
.dictionary-word-list .word-text {
	width: 70%;
	float: left;
}
.dictionary-word-list .word-text h3 {
	margin-top: 3px;
}
.dictionary-word-list .word-text p {
	color: #A2A2A2;
	font-size: 14px;
	font-weight: 300
}


.word-entry h1 {
	color: #055b01;
	font-size: 40px;
	margin-bottom: 22px;
}
.word-entry .lead {
	color: #8f8f8f;
	font-size: 22px;
	line-height: 26px;
}
.word-entry hr {
    margin-top: 24px;
    margin-bottom: 24px;
	border-top-color: #e6f1da;
}
.word-entry p {
	margin: 0 0 14px;
}
.word-entry .row {
	margin-top: 50px;
}
.word-entry .row > div:first-child {
	padding-right: 50px;
}